body {
background-color : #B0C1CF;
text-align: justify;
padding : 1%;
font-family:sans-serif;
    
}



</s
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}


.content {
    max-width: 500px;
    margin: auto;
}

.text {
    width : 80%;
    overflow-wrap : break-word;
    
    
}

h1 {
    color : floralwhite;
    background-color : #5E3A3C;
    padding : 1%;
    font-size : 48px;   
}

h2 {
    background-color : #F2D96A;
    padding : 1%;
    font-size : 38px;
}

h3 {
    font-size : 24px;
    
    
}

#edit {
     background-color : #5D7FA4;
    border-bottom-color : steelblue;
    border : solid;
    box-shadow : 2.5px 2.5px;
    color: black;
    padding : 10px 24px;
    text-align : center;
    text-decoration : none;
    display : inline-block;
    font-size : 16px;
    
    
}

.modal {
    color : white;
    font-weight: bold;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 70%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.productsDiv {
    padding : 3%;
    font-weight: bold;
    font-size : 18px;
    float : middle;
    
}

button {
    background-color : lightgrey;
    border-bottom-color : steelblue;
    border : solid;
    box-shadow : 2.5px 2.5px;
    color: black;
    padding : 10px 24px;
    text-align : center;
    text-decoration : none;
    display : inline-block;
    font-size : 16px;
    
    
}

.navigationDiv {
    font-weight : bold;
    position : -webkit-sticky;
    position : sticky;
    top : 0;
    margin : 0;
    padding : 2%;
    width : 98%;
    background : steelblue;
    
    
}

.bottomDiv {
   position : static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
    
    
}

input {
    text-align: center
    width : 30%;
    padding : 5px 5px;
    margin : 8px;
    box-sizing : border-box;
    
    
}

p {
    
    
}

.changePageIcon {
    width : 1;
    height : 2;
    
}

.center {
 margin : auto;
    width : 50%;
    padding 10px;
    
    
    
}

.cart {
    position : -webkit-sticky;
    position : sticky;
    top : 0;
    right : 0;
    padding : 3%;
    font-weight: bold;
    font-size : 18px;
    
}

table, th, td {
    color : black;  
    border-collapse: collapse;
    padding : 15px;
    border-bottom: 2px solid black;
    
}

table {
    width : 80%;
    color : floralwhite;
    
}

th { 
    color : black;
    background-color : steelblue;
    border-bottom : 2px black;
    
}

