body {
background-color : #A1B1BD;
text-align: justify;
padding : 1%;
font-family:sans-serif;
    
}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

h1 {
    color : floralwhite;
    background-color : #5E3A3C;
    padding : 1%;
    font-size : 48px;   
}

h2 {
    background-color : #D1A800;
    font-size : 38px;
}

h3 {
    font-size : 24px;
    
    
}

button {
    background-color : #5D7FA4;
    border-bottom-color : steelblue;
    border : solid;
    box-shadow : 2.5px 2.5px;
    color: black;
    padding : 15px 32px;
    text-align : center;
    text-decoration : none;
    display : inline-block;
    font-size : 24px;
    
    
}

.navigationDiv {
    padding : 2%;
    background : steelblue;
    
    
}

.productsDiv {
    padding : 3%;
    font-weight: bold;
    font-size : 18px;

}

.cart {
    padding 3%;

    
    
}

input {
    text-align: center
    width : 30%;
    padding : 5px 5px;
    margin : 8px;
    box-sizing : border-box;
    
    
}

p {
    text-decoration-line: overline;
    
}

.center {
 margin : auto;
    width : 50%;
    padding 10px;
    
    
    
}

.cart {
    padding : 3%;
    font-weight: bold;
    font-size : 18px;
    
    
}