Body{
    background-color: #626063;
}

h1{
   text-align: center;
}

h3 {
    color: #D41F18;
}

#Profile {
    text-align: center;
    border: 5px solid #3E3D3E;
    padding: 15px;
    margin: 150px;
    background-color: #C4BFBC;
}

#Title {
    color: #E7E8E7;
    text-align: right; 
}

label {
    display: block;
    margin-bottom: 15px;
}

#CompanyName {
    text-align: left;
}

.createAccountDiv {
    text-align: center;
    border: 5px solid #3E3D3E;
    padding: 15px;
    margin: 150px;
    background-color: #C4BFBC;
}

#createAccountForm {
    display: block;
    margin-bottom: 15px;
}

#signInForm {
    display: block;
    margin-bottom: 15px;
}

.productsDiv {
    text-align: center;
    border: 5px solid #3E3D3E;
    padding: 15px;
    margin: 150px;
    background-color: #C4BFBC;
}

.cart {
    text-align: center;
    border: 5px solid #3E3D3E;
    padding: 15px;
    margin: 150px;
    background-color: #C4BFBC;
}

#CustomerInformation {
    text-align: center;
    border: 5px solid #3E3D3E;
    padding: 15px;
    background-color: #C4BFBC;
}

#CheckoutTop {
    text-align: center;
    border: 5px solid #3E3D3E;
    padding: 15px;
    margin: 150px;
    background-color: #C4BFBC;
}

#FinalButtons {
    text-align: center;
    border: 5px solid #3E3D3E;
    padding: 15px;
    margin: 150px;
    background-color: #C4BFBC;
}